# --- Sensible / env
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# --- Logs
logs
**/logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
*.pid
*.seed
*.pid.lock

# --- Node/Front (monorepo)
**/node_modules/
**/dist/
**/build/
**/.next/
**/.nuxt/
**/.turbo/
**/.cache/
**/.parcel-cache/
**/.vite
**/.vite-cache
**/coverage/
**/.eslintcache
**/.stylelintcache

# --- Java/Maven/Gradle (monorepo)
**/target/
**/generated-sources/
**/surefire-reports/
.gradle/
build/

# --- IDE
.idea/
*.iml
.vscode/
.nb-gradle/
nbproject/private/
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache/

# --- Données lourdes (recommandé)
**/data/**
!**/data/samples/**           # garde seulement des échantillons
*.csv                         # ignore tous les CSV…
!**/data/samples/**/*.csv     # …sauf ceux dans data/samples/

# --- Locks Office/LibreOffice
~$*
.~lock.*#

# --- OS
.DS_Store
Thumbs.db
desktop.ini
